/*COMMON CSS*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: 12px "Microsoft YaHei", Arial, sans-serif;
  color: #666;
  background: #e5e5e5 url("../img/bg-page.png") repeat-x 0 -16px;
}
div,
p,
ol,
ul,
h1,
h2,
h3,
p,
th,
td,
dl,
dd,
form,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #545454;
}
a:hover {
  text-decoration: none;
}
input {
  border-radius: 0;
}
img {
  border: 0;
}
/* INDEX CSS */
.navbar {
  margin-bottom: 0;
  min-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}
.navbar .col-md-12:nth-of-type(1) .nav li a {
  font-size: 12px;
  padding: 2px 10px;
  margin-top: 6px;
}
.navbar .col-md-12:nth-of-type(1) .nav li a i {
  display: inline-block;
  padding-right: 20px;
  width: 16px;
  height: 11px;
  background: url(../img/cn.gif) no-repeat;
}
.navbar .col-md-12:nth-of-type(1) .nav li ul.dropdown-menu {
  min-width: 68px;
  border-radius: 0;
  top: 30px;
  left: 28px;
}
.navbar .col-md-12:nth-of-type(1) .nav li ul.dropdown-menu li {
  text-align: center;
}
.navbar .col-md-12:nth-of-type(1) .nav li ul.dropdown-menu li a {
  margin-top: 0;
  border-left: none;
}
.navbar .col-md-12:nth-of-type(2) .navbar-header img {
  width: 210px;
  margin-right: 40px;
  height: 88px;
  padding: -6px;
}
.navbar .col-md-12:nth-of-type(2) .navbar-header .navbar-toggle {
  margin-top: 26px;
}
.navbar .col-md-12:nth-of-type(2) .navbar-header .navbar-toggle .icon-bar {
  background: #127648;
}
.navbar .col-md-12:nth-of-type(2) .navbar-collapse .nav li a {
  display: inline-block;
  padding: 34px 16px;
  font-size: 14px;
  color: #127648;
}
.navbar .col-md-12:nth-of-type(2) .navbar-collapse .nav li a:hover {
  background: transparent;
}
.navbar .col-md-12:nth-of-type(2) .navbar-collapse .nav li.active {
  background: #127648;
}
.navbar .col-md-12:nth-of-type(2) .navbar-collapse .nav li.active a {
  color: #fff;
}
.center {
  margin-top: 89px;
}
.center .col-md-12 .col-md-3 {
  background: #666;
  padding-top: 20px;
  overflow: hidden;
}
.center .col-md-12 .col-md-3 h3 {
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}
.center .col-md-12 .col-md-3 .form-group label {
  color: #fff;
}
.center .col-md-12 .col-md-3 .form-group .col-md-8 {
  padding-left: 0;
}
.center .col-md-12 .col-md-3 .form-group input {
  border-radius: 0;
}
.center .col-md-12 .col-md-3 .form-group button {
  outline: none;
  background: #127648;
  color: #fff;
}
.center .col-md-12 .col-md-3 .form-group:nth-of-type(4) {
  margin-bottom: 0;
}
.center .col-md-12 .col-md-9 {
  padding-left: 0;
}
.center .col-md-12 .col-md-12 > a {
  color: #fff;
}
.service {
  margin: 20px 0;
}
.service .col-md-12 .col-md-3 .srv {
  background: #fff;
  padding: 20px;
  overflow: hidden;
}
.service .col-md-12 .col-md-3 .srv p {
  padding: 10px 0;
}
.service .col-md-12 .col-md-3 .srv textarea {
  resize: none;
  height: 100px;
  border-radius: 0;
}
.service .col-md-12 .col-md-3 .srv > button {
  margin: 10px 0;
  outline: none;
  background: #127648;
  color: #fff;
}
.service .col-md-12 .col-md-3 .srv h4 {
  color: #127648;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}
.service .col-md-12 .col-md-3:nth-of-type(1) {
  padding-left: 0;
  padding-right: 0;
}
.service .col-md-12 .col-md-3:nth-of-type(1) .srv-adv li {
  line-height: 30px;
}
.service .col-md-12 .col-md-3:nth-of-type(1) .srv-adv li a span {
  color: #666;
  font-weight: bold;
  font-size: 14px;
}
.service .col-md-12 .col-md-3:nth-of-type(1) .srv-call {
  padding: 20px;
  background: #fff;
  text-align: center;
  margin: 20px 0;
}
.service .col-md-12 .col-md-3:nth-of-type(2) {
  padding-right: 0;
}
.service .col-md-12 .col-md-3:nth-of-type(3) .srv-partner p {
  text-align: center;
}
.service .col-md-12 .col-md-3:nth-of-type(4) {
  padding-left: 0;
  padding-right: 0;
}
.service .col-md-12 .col-md-3:nth-of-type(4) .srv-news li {
  border-bottom: 1px solid #ccc;
  line-height: 36px;
}
.service .col-md-12 .col-md-3:nth-of-type(4) .srv-news li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.track {
  margin: 120px 0 50px;
}
.track textarea {
  border: 2px solid #9e9e9e;
  resize: none;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12) inset;
}
.track textarea:focus {
  border-color: #127648;
}
.track button {
  margin: 18px 0;
  background: #127648;
  color: #fff;
}
.track button:hover {
  color: #fff;
}
.track .col-md-2 .track-step ul {
  overflow: hidden;
}
.track .col-md-2 .track-step ul li {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.track .col-md-2 .track-step ul li p {
  padding: 10px 0;
}
.track .col-md-10 {
  padding-left: 0;
  padding-right: 0;
}
.track .col-md-10 .track-info .nav li.active a {
  border: none;
  border-bottom: 2px solid #127648;
  background: transparent;
}
.track .col-md-10 .track-info .nav li a {
  font-size: 14px;
  color: #127648;
}
.track .col-md-10 .track-info .nav li:nth-of-type(2) a {
  color: #757575;
}
.track .col-md-10 .track-info .nav li:nth-of-type(3) a {
  color: #de2929;
}
.track .col-md-10 .track-info .nav li:nth-of-type(4) a {
  color: #f18200;
}
.track .col-md-10 .track-info .tab-content .tab-pane p.dh {
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
.track .col-md-10 .track-info .tab-content .tab-pane .kbox {
  text-align: center;
}
.track .col-md-10 .track-info .panel-heading {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 5px 5px 5px #ddd;
  padding-left: 0;
  padding-right: 0;
}
.track .col-md-10 .track-info .panel-heading .panel-title {
  overflow: hidden;
}
.track .col-md-10 .track-info .panel-heading .panel-title .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.track .col-md-10 .track-info .panel-heading .panel-title .col-md-4 .media-left {
  padding-right: 0;
}
.track .col-md-10 .track-info .panel-heading .panel-title .col-md-4 .media-left img {
  width: 36px;
  height: 36px;
}
.track .col-md-10 .track-info .panel-body .track-ctn {
  padding: 0 10px 20px;
}
.track .col-md-10 .track-info .panel-body .track-ctn h5 {
  color: #127648;
  font-size: 16px;
  font-weight: normal;
}
.track .col-md-10 .track-info .panel-body .track-ctn .rote {
  line-height: 50px;
  font-size: 14px;
  position: relative;
}
.track .col-md-10 .track-info .panel-body .track-ctn .rote b {
  width: 10px;
  height: 10px;
  background: #ccc;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.track .col-md-10 .track-info .panel-body .track-ctn .rote s {
  position: absolute;
  top: 32px;
  left: 0;
  width: 10px;
  height: 35px;
  display: inline-block;
  background: url("../img/line.png") no-repeat;
}
.track .col-md-10 .track-info .panel-body .track-ctn .rote span {
  padding: 0 4px 0 6px;
}
.track .col-md-10 .track-info .panel-body .track-ctn .rote.active b {
  background: #f40;
  border: 1px solid #f00;
}
.track .col-md-10 .track-info .panel-body .track-ctn .rote.active span {
  color: #f40;
}
.track .col-md-10 .media {
  /*text-align: center;*/
}
.track .col-md-10 .media .media-left img {
  margin-top: 4px;
}
.track .col-md-10 .media .media-body {
  width: auto;
}
.track .col-md-10 .media .media-body h4 a {
  font-size: 14px;
  text-decoration: none;
  color: #222;
}
.track .col-md-10 .media .media-body b {
  font-size: 12px;
  font-weight: normal;
  color: #222;
}
.track .col-md-10 .track-city {
  line-height: 21px;
  text-align: center;
}
.track .col-md-10 .track-df {
  display: inline-block;
  text-align: center;
}
.track .col-md-10 .track-df span,
.track .col-md-10 .track-df i {
  display: block;
}
.track .col-md-10 .track-df span {
  font-size: 14px;
  color: #222;
}
.track .col-md-10 .track-df i {
  font-size: 10px;
  font-style: normal;
  color: #777;
}
.track .col-md-10 .track-date {
  text-align: center;
}
.track .col-md-10 .track-date p {
  line-height: 44px;
  font-size: 14px;
  color: #222;
}
.track .col-md-10 .track-return {
  display: inline-block;
  width: 36px;
  height: 40px;
  background: url("../img/return.png") no-repeat;
}
.login {
  width: 100%;
  height: 100%;
  background: url(../img/login.jpg) no-repeat;
}
.login .login-header {
  text-align: center;
  padding: 90px 0 30px;
}
.login .login-ctn {
  text-align: center;
  overflow: hidden;
}
.login .login-ctn .col-md-4:nth-of-type(2) {
  background: #fff;
  padding: 10px 30px;
  border-radius: 3px;
  margin-top: 100px;
}
.login .login-ctn h2 {
  color: #424242;
  font-size: 24px;
}
.login .login-ctn a {
  color: #127648;
  display: block;
  padding: 12px 0;
  font-size: 14px;
}
.login .login-ctn .form-horizontal {
  padding: 20px 0;
}
.login .login-ctn .form-horizontal .form-group input {
  height: 36px;
}
.login .login-ctn .form-horizontal .form-group button {
  background: #127648;
  color: #fff;
  height: 46px;
  font-size: 18px;
}
.login .login-ctn .fgt-pwd {
  text-align: center;
  border-top: 1px solid #ddd;
}
.login-btm {
  width: 100%;
}
.login-btm .nav .dropup button {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
.login-btm .dropdown-menu {
  top: -38px;
  min-width: 95px;
  padding: 0;
  width: auto;
}
.login-links ul {
  overflow: hidden;
}
.login-links ul li {
  float: left;
  width: 20%;
  text-align: center;
  line-height: 30px;
  border-right: 1px dashed #ddd;
}
.login-links ul li:hover {
  background: #127648;
}
.login-links ul li:hover a {
  color: #fff;
}
.login-links ul li a {
  color: #fff;
}
.login-links .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.login-links .col-md-4 li:last-child {
  border-right: none;
}
.login-links .col-md-4:nth-of-type(2) {
  margin: 26px 0;
  border: 1px dashed #fff;
}
.news {
  height: 60px;
  line-height: 60px;
}
.news .news-header .nav-tabs {
  border-bottom: none;
  background: #fff;
  margin-top: 54px;
}
.news .news-header .nav-tabs li.active a {
  color: #fff;
  background: #127648;
  border-radius: 0;
}
.news .news-header .nav-tabs li {
  width: 100%;
  text-align: center;
}
.news .news-header .nav-tabs li a {
  padding: 10px 0;
  margin-right: 0;
  font-size: 14px;
}
.news .news-breadcrumb span {
  color: #127648;
  font-weight: bold;
}
.news .news-ctn {
  padding: 24px 0 30px;
}
.news .news-ctn .nav-tabs {
  border-bottom: none;
}
.news .news-ctn .nav-tabs li.active a {
  border: none;
  border-radius: 3px;
  background: #127648;
  color: #fff;
  cursor: pointer;
}
.news .news-ctn .nav-tabs li a {
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #127648;
  margin-right: 10px;
}
.news .news-ctn .tab-pane {
  margin: 30px 0;
  box-shadow: rgba(12, 3, 6, 0.19) 0px 0px 18px;
  background: #ffffff;
  padding: 20px 60px;
  overflow: hidden;
}
.news .news-ctn .tab-pane .news-row {
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}
.news .news-ctn .tab-pane .news-row .news-title {
  overflow: hidden;
}
.news .news-ctn .tab-pane .news-row .news-title h4 {
  padding: 10px 0;
  font-size: 16px;
}
.news .news-ctn .tab-pane .news-row .news-title h4 a {
  display: inline-block;
  color: #127648;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .news-ctn .tab-pane .news-row .news-title span {
  font-size: 12px;
  line-height: 59px;
  color: #aaa;
}
.news .news-ctn .tab-pane .news-row .news-read p {
  line-height: 30px;
  color: #777;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news .news-page {
  text-align: center;
}
.news .news-page .news-pgnav li.active a {
  background: #127648;
}
.news .news-page .news-pgnav li a {
  padding: 6px 12px;
}
.news .news-info {
  height: auto;
  background: #fff;
  margin: 40px 0 60px;
  padding: 30px 60px;
  line-height: 30px;
  border: 1px solid #ddd;
}
.news .news-info .article-top {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.news .news-info .article-top h2 {
  color: #127648;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  padding-bottom: 20px;
}
.news .news-info .article-top .article-date {
  color: #333;
  font-size: 14px;
}
.news .news-info .article-top .article-date span {
  padding: 0 10px;
}
.news .news-info .article-cont {
  font-size: 14px;
}
.news .news-info .article-cont p {
  margin: 0 0 10px;
  text-indent: 28px;
}
.about {
  height: 60px;
  line-height: 60px;
}
.about .about-header .nav-tabs {
  border-bottom: none;
  margin-top: 60px;
  background: #fff;
  width: 100%;
}
.about .about-header .nav-tabs li.active a {
  color: #fff;
  background: #127648;
  border-radius: 0;
}
.about .about-header .nav-tabs li {
  width: 100%;
  text-align: center;
  margin-right: 40px;
}
.about .about-header .nav-tabs li a {
  padding: 10px 0;
  font-size: 14px;
  margin-right: 0;
}
.about .about-header .about-breadcrumb span {
  color: #127648;
  font-weight: bold;
}
.about .about-tabs {
  margin: 60px 0;
  box-shadow: rgba(12, 3, 6, 0.19) 0px 0px 18px;
  background: #ffffff;
  padding: 60px;
  overflow: hidden;
}
.about .about-tabs .about-title b {
  color: #333333;
}
.about .about-tabs .about-title h4 {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}
.about .about-tabs .about-title h4::before {
  content: "";
  display: block;
  width: 4px;
  height: 16px;
  position: absolute;
  left: -20px;
  top: 2px;
  background: #127648;
}
.about .about-tabs .about-sd h6 {
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
}
.about .about-tabs .about-sd .about-intro p {
  line-height: 50px;
}
.about .about-tabs .about-cta .col-md-7 li {
  color: #888888;
  line-height: 24px;
  padding: 20px 10px;
  border-bottom: 1px dashed #e5e5e5;
  overflow: hidden;
  font-size: 14px;
}
.about .about-tabs .about-cta .col-md-7 li span {
  color: #777;
  font-weight: bold;
}
.about .about-tabs .about-cta .col-md-5 {
  text-align: center;
  padding-top: 60px;
}
.about .about-tabs .about-cta .col-md-5 img {
  border: 1px solid #127648;
  width: 160px;
  height: 160px;
}
.about .about-tabs .about-cta .col-md-5 p {
  font-size: 16px;
}
.channel,
.price,
.product,
.newsinfo {
  background: #fff;
}
.product .about-breadcrumb a:last-child {
  color: #127648;
  font-weight: bold;
}
.product .about-tabs .about-title h4 {
  color: #333;
  font-weight: bold;
  font-size: 16px;
}
.product .about-tabs .about-title h4 a {
  color: #f00;
  font-size: 14px;
  padding-left: 20px;
}
.product .about-tabs .about-title b {
  font-size: 12px;
  color: #777;
}
.product .about-tabs .about-title p {
  font-size: 14px;
  line-height: 40px;
}
.product .about-tabs .about-title .form-inline .form-group p span {
  color: #f00;
}
.product .about-tabs .about-title ul.ws li {
  width: 50%;
}
.product .about-tabs .about-title ul.ws li:nth-of-type(1) {
  float: left;
}
.product .about-tabs .about-title ul.ws li:nth-of-type(2) {
  float: right;
}
.product .about-tabs h2 span {
  background: #127648;
  color: #fff;
  padding: 6px 38px;
  border-radius: 24px;
  font-size: 18px;
}
.product .tab-pane h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 26px;
}
.product .tab-pane h2 b {
  font-size: 16px;
}
.product .product-adv li {
  text-align: center;
  cursor: pointer;
}
.product .product-adv li:hover {
  background: #127648;
  border-radius: 3px;
}
.product .product-adv li:hover p {
  color: #fff;
}
.product .product-adv li span {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  display: block;
}
.product .product-adv li span.pro-img1 {
  background: url(../img/dian.png) no-repeat;
}
.product .product-adv li span.pro-img2 {
  background: url(../img/shui.png) no-repeat;
}
.product .product-adv li span.pro-img3 {
  background: url(../img/cx.png) no-repeat;
}
.product .product-adv li span.pro-img4 {
  background: url(../img/qiang.png) no-repeat;
}
.product .product-adv li span.pro-img5 {
  background: url(../img/sx.png) no-repeat;
}
.product .product-adv li span.pro-img6 {
  background: url(../img/fw.png) no-repeat;
}
.product .product-adv li:nth-of-type(1):hover span {
  background: url(../img/dian_hover.png) no-repeat;
}
.product .product-adv li:nth-of-type(2):hover span {
  background: url(../img/shui_hover.png) no-repeat;
}
.product .product-adv li:nth-of-type(3):hover span {
  background: url(../img/cx_hover.png) no-repeat;
}
.product .product-adv li:nth-of-type(4):hover span {
  background: url(../img/qiang_hover.png) no-repeat;
}
.product .product-adv li:nth-of-type(5):hover span {
  background: url(../img/sx_hover.png) no-repeat;
}
.product .product-adv li:nth-of-type(6):hover span {
  background: url(../img/fw_hover.png) no-repeat;
}
.product .input-group input,
.product .form-group input {
  border-radius: 0;
}
.product .fi2 .form-group:last-child {
  margin-top: 40px;
  margin-left: 20px;
}
.product .fi2 .form-group:last-child button {
  color: #fff;
  background: #127648;
  border: none;
}
.product .prictn {
  overflow: hidden;
  margin: 50px 0 0;
}
.product .prictn table thead tr {
  background: #127648;
  color: #fff;
}
.product .prictn table thead tr th {
  text-align: center;
  border: 1px solid #fff;
}
.product .prictn table thead tr th:nth-of-type(1),
.product .prictn table thead tr th:nth-of-type(6) {
  line-height: 34px;
}
.product .prictn table tbody {
  border: 1px solid #F0F0F0;
  color: #5F5F5F;
}
.product .prictn table tbody td {
  text-align: center;
  font-size: 14px;
}
.product .prictn .page {
  text-align: center;
}
.product .prictn .page li a {
  padding: 10px 16px;
  color: #777;
}
.product .prictn .page li.active a {
  background: #127648;
  color: #fff;
}
.channel .form-inline label span {
  color: #f00;
}
.channel .form-inline select {
  border-radius: 0;
  margin-right: 20px;
}
.channel .form-inline > a {
  background: #127648;
  color: #fff;
  margin-left: 20px;
}
.channel .prictn thead tr th {
  line-height: 34px;
}
.channel .prictn tbody tr td a:last-child {
  color: #3c763d;
  cursor: pointer;
}
.modal {
  top: 10%;
}
.modal .md {
  padding: 10px 0;
  font-size: 14px;
}
.topimg {
  margin-top: 89px;
}
.topimg img {
  width: 100%;
}
.footer {
  background: #333;
  height: auto;
}
.footer .ft {
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .navbar .container,
  .navbar .col-md-12:last-child {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .col-md-12:last-child .nav li a {
    padding: 10px 20px !important;
  }
  .navbar .col-md-12:last-child img {
    margin-left: 10px;
  }
  .navbar .col-md-12:last-child .navbar-collapse {
    background: #fff;
  }
  .navbar .col-md-12:last-child .navbar-collapse .nav {
    margin: 0 -15px;
  }
  .service .col-md-12 .col-md-3:nth-of-type(2) {
    padding-left: 0;
  }
  .service .col-md-12 .col-md-3 .srv {
    margin-bottom: 20px;
  }
  .service .col-md-12 .col-md-3:nth-of-type(3) {
    padding-left: 0;
    padding-right: 0;
  }
  .track .col-md-1,
  .track .col-md-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .track .track-city {
    float: none;
    text-align: center;
  }
  .track .track-date p {
    line-height: 22px !important;
  }
  .track .panel-title > div {
    padding: 4px 0;
  }
  .track .panel-body .track-ctn {
    padding: 0 !important;
  }
  .track .panel-body .track-ctn .rote {
    line-height: 36px !important;
  }
  .track .panel-body .track-ctn .rote s {
    display: none !important;
  }
  .track .nav-tabs li a {
    margin-right: -1px;
  }
  .track .track-step ul li {
    width: 49.4% !important;
  }
  .login .login-header {
    padding: 20px 0 30px;
  }
  .login .login-ctn .col-md-4:nth-of-type(2) {
    margin-top: 40px;
  }
  .login .login-ctn .form-horizontal {
    padding: 0;
  }
  .login .login-ctn h2 {
    padding-top: 6px;
  }
  .login-links .col-md-4:nth-of-type(2) {
    margin: 16px 0;
  }
  .news .col-md-2,
  .news .col-md-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .news .news-title h4 a {
    width: 180px;
  }
  .news .news-header h3 {
    font-size: 18px;
  }
  .news .news-info {
    padding: 30px 20px;
  }
  .news .tab-pane {
    padding: 10px 30px !important;
  }
  .about .col-md-2,
  .about .col-md-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .about .col-md-2 .about-header {
    overflow: hidden;
  }
  .about-tabs {
    margin: 36px 0 !important;
    padding: 40px 20px !important;
  }
  .about-tabs .about-title h4 {
    margin-left: 18px;
  }
  .about-tabs .about-title ul.ws li {
    width: 100% !important;
  }
  .about-tabs .col-md-7,
  .about-tabs .col-md-5 {
    padding-left: 0;
    padding-right: 0;
  }
  .about-tabs .col-md-5 .wx {
    padding: 30px 0;
  }
  .about-tabs .col-md-5 .wx img {
    width: 80px !important;
    height: 80px !important;
  }
  .product .about-title h4 a {
    font-size: 12px !important;
    padding-left: 0 !important;
  }
  .product .fi1 .form-group:nth-of-type(2),
  .product .fi1 .form-group:nth-of-type(3),
  .product .fi1 .form-group:nth-of-type(4) {
    width: 101px;
    float: left;
  }
  .product .fi2 .form-group:last-child {
    margin-left: 0;
  }
  .product .fi2 .form-group:nth-of-type(1),
  .product .fi2 .form-group:nth-of-type(2),
  .product .fi2 .form-group:nth-of-type(3) {
    width: 101px;
    float: left;
  }
  .channel .form-inline > a {
    margin-left: 0;
  }
  .modal {
    top: 10%;
  }
  .modal .md {
    font-size: 12px;
  }
}
